html, body {
    margin: 0;
    padding: 0;
}
.center-text {
    text-align: center;
}

.lightText {
    color: #fff;
}

.darkBG {
    background-color: #ccc;
}

.darkerBG {
    background-color: #999;
}

.darkestBG {
    background-color: #777;
}